body {
	background: url("/static/assets/images/body-pattern.png") repeat;
}

.news-title-box {
	/*background: url("/static/assets/images/pattern-btzn.png") repeat;*/
	background-color: brown;
	box-shadow: 0 0 6px dimgray;
	border-color: rgb(145, 140, 140);
}

.informations-title-box {
	/*background: url("/static/assets/images/pattern-btzn.png") repeat;*/
	background-color: brown;
	box-shadow: 0 0 6px dimgray;
	border-color: rgb(145, 140, 140);
	margin: 20 0 10 0;
}

.actual-title-box {
	/*background: url("/static/assets/images/pattern-btzn.png") repeat;*/
	background-color: brown;
	box-shadow: 0 0 6px dimgray;
	border-color: rgb(145, 140, 140);
	margin: 20 0 10 0;
}

.news-title, .informations-title, .actual-title {
	color: white;
	font-family: serif;
	font-size: 18;
	margin-left: 10px;
}

.panel-body {
	padding: 2px;
}

.panel-body span {
	float: right;
}

.panel-body span a {
	color: gold;
	text-decoration: underline;
	margin-right: 10px;
}

.header {
	background-color: brown;
	height: 220px;
	line-height: 207px;
	margin-bottom: -3px;
}

.header-slide {
	display: inline-block;
}

.header-slide > img {
	position: absolute;
	top: 16px;
	margin-left: 35px;
	display: none;
}

.header-title {
	text-align: center;
	font-size: 90px;
	font-family: serif;
	text-shadow: 3px 3px rgb(201, 147, 34);
}

@media all and (max-width: 500px) {
    .header-title {
        font-size: 3.8em;
    }
}

@media all and (max-width: 1000px) {
    .header-title {
        font-size: 3.8em;
    }
}

.img-circle {
	height: 190px;
	width: 190px;
}

.myPanel {
	box-shadow: 0px 2px 6px #3A3A3A;
	margin: 0 0 15 0;
}

.myPanel .body {
	padding: 10px 20px;
}

.news-text {
	height: 60px;
	line-height: 15px;
	font-size: 14px;
}

.news-published-date {
	border-radius: 0 4px 0 4px;
	color: gold;
	right: 15px;
	top: 0px;
	font-size: 11px;
	position: absolute;
	padding: 2px 6px;
	font-weight: bold;
	background: url("/static/assets/images/dot.png") repeat;
}

.information-text {
	height: 30px;
	line-height: 15px;
	font-size: 12px;
}

.information-published-date {
	border-radius: 0 4px 0 4px;
	color: gold;
	right: 0px;
	top: 0px;
	font-size: 11px;
	position: absolute;
	padding: 2px 6px;
	font-weight: bold;
	background: url("/static/assets/images/dot.png") repeat;
}

.thumbnail {
	background-color: rgba(248, 178, 30, 0.4);
	box-shadow: 0 0 6px rgb(46, 37, 37);
	border: 0;
}

.thumbnail a img {
	width: 180px;
	height: 140px;
}

.media-list {
	padding: 5px 5px 30px 5px;
	border-radius: 4px;
	height: 300px;
}

.media {
	position: relative;
	background-color: rgba(248, 178, 30, 0.4);
	padding: 3px;
	border-radius: 4px;
	box-shadow: 0 0 6px rgb(46, 37, 37);
}

.load-information {
	text-align: center;
	padding-top: 4px;
}

.load-information a {
	cursor: pointer;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #000000;
	text-align: center;
}

/*
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}*/
