{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
		  	<div class="panel panel-default news-title-box">
				<div class="panel-body news-title">
					Najnovije vesti<span><a href="/news/all">Sve vesti</a></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{% for news in last_news %}
		<div class="col-sm-3 col-xs-6">
			<div class="thumbnail">
				<a href="/news/id/{{ news.id }}">
			    	<img src="/media/{{ news.thumbnail }}" alt="150x150">
			    </a>

			    <span class="news-published-date">
			    	{{ news.pub_date|date:'d/m/Y H:i' }}
			    </span>
			
				<div class="caption">
		            <strong><a href="/news/id/{{ news.id }}">{{ news.title }}</a></strong>
		            <div class="news-text">
		            	{{ news.text }}
		            </div>
      			</div>
      		</div>
		</div>
		{% endfor %}
	</div>

	<div class="row">
		<div class="col-sm-6">
		  	<div class="panel panel-default informations-title-box">
				<div class="panel-body informations-title">
					Obaveštenja <span><a href="/information/all">Sva obaveštenja</a></span>
				</div>
			</div>
			
			<ul class="media-list">
				<div class="information-box">
					{% for information in last_informations %}
				  	<li class="media">
				  	
				    	<a class="pull-left" href="/information/id/{{ information.id }}">
				      	<img class="media-object" src="/media/{{ information.thumbnail }}" alt="..." width="50px" height="50px"></a>

				    	<div class="media-body">
				      		<h5 class="media-heading"><a href="">{{ information.title }}</a></h5>
				      		<div class="information-text">
				      		<span class="information-published-date">{{ information.pub_date|date:'d/m/Y H:i' }}</span>
				      		{{ information.text }}
				    		</div>
				    	</div>
				  	</li>
				  	{% endfor %}
				  	
				  	<div id="loaded-informations"></div>

				  	<li class="load-information"> {% csrf_token %}
			  			<a id="load-more-info"><div class="arrow-down"></div></a>
			  		</li>
				</div>
			</ul>
			
		</div>
		
		<div class="col-sm-6">
		  	<div class="panel panel-default actual-title-box">
				<div class="panel-body actual-title">
					Aktuelno
				</div>
			</div>
		</div>
	</div>



{% endblock %}


{% block sidebar %}
<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title"><small>Vremenska prognoza</small></h3>
  	</div>
  	<div class="panel-body">
    	
  	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title"><small>Vremenska prognoza</small></h3>
  	</div>
  	<div class="panel-body">
    	asdasd
    	asdasd
    	asdasda
    	asdasd
  	</div>
</div>
{% endblock %}
